/* Ajustes generales */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400;700;900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/* Estilos generales */  
html, body {
    font-family: 'Lato', 'sans-serif';
    font-size: 15px;
    color: rgb(19, 57, 116);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.bordered-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%; 
}

.container {
    width: 100%; 
    margin: 0 auto;
    padding: 20px;
}

.section-margin {
    margin-top: 30px;
    margin-bottom: 30px; 
}

h1 {
    font-size: 3rem;
}

/* Media queries que achican el font de acuerdo al tipo de pantalla*/
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .video-section {
        margin-top: 20px !important;
        padding-top: 10px !important;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    .video-section {
        margin-top: 10px !important;
        padding-top: 5px !important;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
    }

    h1 {
        font-size: 4rem;
    }
}



/* Estilos del navbar */

.transparent-navbar {
    background-color: rgb(242, 243, 242) !important; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: .5px solid rgb(19, 57, 116); 
}

.navbar-nav .nav-link {
    color: rgb(19, 57, 116) !important; /* Color permanente */
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link:hover {
    color: rgb(0, 0, 1) !important; /* Color al pasar el mouse */
    background-color: rgba(19, 57, 116, 0.1); /* Fondo al pasar el mouse */
}


.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.custom-margin {
    margin: 3px; 
}

.custom-margin-left {
    margin-left: 5px; 
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link:hover {
    color: rgb(19, 57, 116); /* Oscurecer el color al pasar el mouse */
}

.navbar-brand img {
    max-height: 40px;
}

.menu-item {
    margin-right: 3px;
}

.navbar-nav .nav-item:first-child {
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    background-color: rgb(243, 241, 241);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.custom-hr {
    border: 0;
    border-top: 2px solid black;
    margin: 10px 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    margin-top: 0;
}

/* Estilos para el video inicial con el zoom de vaca muerta */

#video, .video-container, .zoom {
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

#video {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
    max-width: 100%; /* Asegura que el video no exceda el ancho del contenedor */
    max-height: 100%; /* Asegura que el video no exceda la altura del contenedor */
    backface-visibility: hidden;
    filter: contrast(1.5) brightness(1.2) saturate(1.3) sharpness(1.1);
}

.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#video_inicial {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video ocupe todo el contenedor */
    transform: none;
}

.zoom {
    animation: zoom 8s infinite;
    transform-origin: center;
}

.video-section {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    #video, .video-container, .zoom {
        width: 100vw;
        height: 100vh;
    }

    #video {
        transform: translate(-50%, -50%);
        position: relative; /* la idea de que el video y container esten en relative para ocupar container */
        width: 100vw;
        height: 100vh;
        z-index: 2; /* Asegúrate de que el video esté en el frente */
    }

    .video-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden; /* Permite que el contenido se muestre */
        z-index: 1; /* Asegúrate de que el contenedor esté detrás del video */
    }

    #video_inicial {
        width: 100vw;
        height: 100vh; /* Ocupa todo el largo de la página */
        position: relative; /* Cambiado a absolute */
        z-index: 3; /* Asegúrate de que el video inicial esté en el frente */
    }
}

/* Atributos de la seccion inicio */

.half-page.bg-cover {
    background-image: url('../img/banner3.jpg');
    height: 60vh; /* Cambiado de 50vh a 60vh */
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.half-page.white-bg {
    background-color: white;
    height: 60vh;
    border: none;
    margin: 0;
    padding: 0;
}

.half-page {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

.justificado {
    text-align: justify;
}

.margen-superior {
    margin-top: 60px; 
}

.margen-izquierdo {
    margin-left: 10px;
    font-weight: bold;
}

.izquierda {
    text-align: left;
}

.blanco {
    color: white;
}

.jf_section_1 {
    padding: 2%;
}

.half-page.d-flex.align-items-center.justify-content-center.white-bg {
    padding-top: -1rem; /* Ajusta este valor según sea necesario */
}

.texto-p {
    font-size: 2rem; 
    font-weight: bold;
    width: calc(100% - 4rem); /* Ajusta el ancho para compensar los márgenes */
    padding: 0 1rem;
    margin-left: 2rem; /* Mayor margen izquierdo */
    margin-right: 2rem; /* Mayor margen derecho */
    margin-top: -8rem; /* Ajusta este valor según sea necesario para subir el texto */
    color: rgb(19, 57, 116) !important;
    text-align: justify;
}

@media (max-width: 767px) {
    .half-page {
        height: auto; /* Ajusta la altura automáticamente */
    }

    .texto-p {
        font-size: 4vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
        margin-left: 1rem; /* Ajusta el margen izquierdo para pantallas más pequeñas */
        margin-right: 1rem; /* Ajusta el margen derecho para pantallas más pequeñas */
        width: calc(100% - 2rem); /* Ajusta el ancho para pantallas más pequeñas */
        margin-top: -2rem; /* Ajusta este valor según sea necesario para pantallas más pequeñas */
    }
}

@media (max-width: 576px) {
    .texto-p {
        font-size: 3vw; /* Ajusta el tamaño del texto para pantallas muy pequeñas */
        margin-left: 0.5rem; /* Ajusta el margen izquierdo para pantallas muy pequeñas */
        margin-right: 0.5rem; /* Ajusta el margen derecho para pantallas muy pequeñas */
        width: calc(100% - 1rem); /* Ajusta el ancho para pantallas muy pequeñas */
        margin-top: -1rem; /* Ajusta este valor según sea necesario para pantallas muy pequeñas */
    }
}


/* Atributos de la pagina nosotros */

.container_nosotros {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    max-width: 100%;
    flex-direction: row-reverse;
}

.text-content {
    width: 55%;
    background-color: #fff;
    padding: 20px;
    margin-top: 250px;
    margin-right: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}

.jf_cont_sec_1_link {
    text-decoration: none;
    border-bottom: 3px solid rgb(2, 2, 83); /* Añade una línea debajo del texto */
}

.text-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.text-content p {
    font-size: 1rem;
}

.image-container_nosotros {
    width: 50%;
    position: relative;
    margin-top: 105px;
    margin-left: 20px;
    margin-right: 10px;
}

.image-container_nosotros img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.text-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: #fff;
    border-bottom-left-radius: 10px;
}



@media screen and (max-width: 768px) {
    .container_nosotros {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        width: 90%;
        margin-top: 40px;
        order: 2;
        margin-right: 0;
    }

    .image-container_nosotros {
        width: 90%;
        margin-top: 60px;
        order: 1;
    }
}




/* Atributos de la pagina presentacion */

.section_presentacion {
    display: flex;
    justify-content: center; /* Centrar la sección */
    align-items: center;
    height: 100vh;
    padding: 0 10%; /* Añadir padding para evitar que se superponga con otras secciones */
    margin: 0; /* Elimina el margen superior */
}

.margen_presentacion {
    margin-top: 10%;
}

.custom-img {
    margin-top: 20px; 
    width: 100%; 
    height: 100%; /* Ajustar la altura automáticamente */
    border-radius: 20px; 
}

.margin_izquierdo {
    margin-left: 20px;
}

@media (max-width: 576px) {
    #presentacion .row {
        flex-direction: column;
        margin-top: 10px;
    }

    #presentacion .col-md-6 {
        width: 100%;
        padding: 0 15px;
    }

    #presentacion .img-fluid {
        max-width: 100%;
        height: auto;
    }

    #presentacion .margen_presentacion {
        margin-top: 10px;
    }

    /* Aumentar el tamaño de la fuente para pantallas pequeñas */
    #presentacion {
        font-size: 1.2em; /* Ajusta este valor según sea necesario */
    }

    /* Asegurar que el contenedor no tenga desbordes */
    .section_presentacion {
        padding: 0 5%; /* Reducir el padding en pantallas pequeñas */
    }
}




/* Atributos para la pagina clientes */

.section_clientes {
    display: flex;
    justify-content: center; /* Centrar la sección */
    align-items: center;
    height: 100vh;
    padding: 0 10%; /* Añadir padding para evitar que se superponga con otras secciones */
    margin: 0; /* Elimina el margen superior */
}

.margin_izquierdo {
    margin-left: 20px;
}

.galeria {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

@media (max-width: 600px) {
    .section_clientes {
        padding: 0 10%; 
        font-size: 14px; 
        margin-top: 12px; 
    }

    .galeria {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        font-size: 12px; 
        margin-top: 12px; 
    }
 
    .galeria img {
        width: 150%; 
        height: auto; 
    }

    .justificado2 {
        font-size: 14px; 
        margin-top: 12px; 
        text-align: justify;
    }
}

/* Atributos para el carrousel de productos */


.carousel-image {
    width: 100%;
    height: 370px; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    border-radius: 10px; /* Redondea los bordes suavemente */
    margin-top: 25px; /* Ajusta el margen superior según tus necesidades */
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%; /* Ajusta el ancho según tus necesidades */
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    .carousel-image {
        width: 100%;
        height: 200px; /* Ajusta la altura automáticamente */
        margin-top: 10px; /* Reduce el margen superior */
    }

    .carousel-control-prev, .carousel-control-next {
        width: 10%; /* Aumenta el ancho de los controles */
    }

    body {
        font-size: 10px; /* Ajusta el tamaño de la fuente según tus necesidades */
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em; /* Ajusta el tamaño del título */
        text-align: center; /* Centra el título */
    }
}



/* Estilos de la pagina Representacion */
#representacion {
    background-color: white;
    padding: 20px 0;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#representacion .container {
    max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto;
}

#representacion .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Permite que los logos se ajusten en varias líneas si es necesario */
    background-color: white; /* Fondo blanco para la fila de logos */
}

#representacion .logo-item {
    text-align: center;
    flex: 1 1 100px; /* Asegura que los logos tengan el mismo tamaño y se ajusten responsivamente */
    margin: 10px;
}

#representacion .logo-item img {
    width: 150px; /* Asegura que todos los logos tengan el mismo tamaño */
    height: 150px; /* Asegura que todos los logos tengan el mismo tamaño */
    object-fit: contain; /* Mantiene la proporción del logo dentro del contenedor */
}

#representacion .logo-item p {
    font-size: 1.2em;
    font-weight: bold;
}

.bottom-half {
    height: auto; /* Ajusta este valor según sea necesario */
}

.half-page {
    height: auto; /* Ajusta este valor según sea necesario */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-half, .bottom-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.top-half {
    background-color: #f0f0f0;
    justify-content: center; /* Centraliza más el texto */
}

.bottom-half {
    background-color: white; /* Fondo blanco para la fila de logos */
    flex-direction: column;
}

.texto-representacion {
    margin-top: 250px; /* Ajusta el valor según sea necesario */
    font-size: 2rem; 
    font-weight: bold;
    width: calc(100% - 4rem); /* Ajusta el ancho para compensar los márgenes */
    padding: 0 1rem;
    margin-left: 2rem; /* Mayor margen izquierdo */
    margin-right: 2rem; /* Mayor margen derecho */
    color: rgb(19, 57, 116) !important;
    text-align: center; /* Centraliza el texto */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Ajusta el espacio entre los elementos según sea necesario */
}

.logo-item {
    text-align: center;
}

.logo {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción del logo */
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto; /* Mantiene la proporción del logo */
    flex-wrap: wrap; /* Permite que los logos se ajusten en varias líneas si es necesario */
    background-color: white; /* Fondo blanco para la fila de logos */
}

.logo-item {
    margin: 20px;
    text-align: center;
}

.logo-item img {
    width: 150px; /* Asegura que todos los logos tengan el mismo tamaño */
    height: 150px; /* Asegura que todos los logos tengan el mismo tamaño */
    object-fit: contain; /* Mantiene la proporción del logo dentro del contenedor */
    cursor: pointer;
}

.logo-item p {
    margin-top: 10px;
    font-size: 16px;
}

/* Media queries para hacer la página responsiva */
@media (max-width: 768px) {
    .texto-representacion {
        font-size: 1.2rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
        margin-top: 250px; /* Ajusta el margen superior para pantallas más pequeñas */
    }

    .logo-item img {
        width: 80px; /* Ajusta el tamaño de los logos para pantallas más pequeñas */
        height: 80px; /* Ajusta el tamaño de los logos para pantallas más pequeñas */
    }
}



/* Estilos para la pagina de PSA y TSA*/

.section_psa {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    height: 100vh;
}

.title {
    font-size: 2; /* Ajustado de 2.5em a 2em */
    text-align: center;
    font-weight: bold;
}

.texto-adsorcion {
    font-size: 1.5em;
    color: rgb(2, 2, 83) !important;
    
}


#video-container {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay-text-psa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(2, 2, 83);
    font-size: 1em;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.bordered-section-psa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-right: auto;
}

.video-container-psa {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border: none;
    outline: none;
    opacity: 0.8;
}

.video-container-psa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.parrafo-psa {
    padding: 20px;
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
}

.parrafo-psa::before {
    font-size: 0.875em;
}

.subparrafo-psa {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.subparrafo-psa li::before {
    content: "• ";
    font-weight: bold;
}

#PSA .overlay-text {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 50px;
}

#PSA .overlay-text h1,
#PSA .overlay-text h2,
#PSA .overlay-text p,
#PSA .overlay-text ul,
#PSA .overlay-text li {
    margin: 5px 0;
    padding: 0;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .overlay-text-psa {
        padding: 10px;
        font-size: 1.2em; /* Ajusta el tamaño de la fuente */
    }

    .video-container {
        width: 100%;
        height: auto;
    }

    .overlay-text-psa {
        overflow: hidden;
        white-space: normal;
    }

    .video-container-psa {
        height: auto; /* Ajusta la altura para pantallas pequeñas */
        min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la ventana */
    }
}

@media (max-width: 480px) {
    .overlay-text-psa {
        padding: 5px;
        font-size: 1.1em; /* Ajusta el tamaño de la fuente */
    }

    .video-container {
        width: 100%;
        height: auto;
    }

    .video-container-psa {
        height: 100vh; /* Asegura que el video ocupe toda la altura del contenedor */
        margin: 0; /* Elimina márgenes superiores e inferiores */
    }

    .section_psa {
        margin-left: 10px; /* Ajusta el margen izquierdo */
        margin-right: 10px; /* Ajusta el margen derecho */
    }
}



/* Atributos de la seccion contacto */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.titulo-contacto {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
}

.info {
    color: rgb(2, 2, 83);
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}

.info2 {
    color: rgb(2, 2, 83);
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    font-weight: bold;
}

/* Estilos para el mapa y la información de contacto */
.section_contactos {
    margin-top: 80px;
    margin: 0 auto;
    max-width: 1200px; 
}

#contacto .map-responsive {
    width: 100%;
    height: 0;
    top: 5%;
    padding-bottom: 80%; /* Hacer el iframe un poco más largo */
    position: relative;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegurar que los bordes redondeados se apliquen correctamente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Recuadro suave */
}

#contacto .map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0; /* Eliminar margen izquierdo */
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Bordes redondeados */
}


.btn-wsp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    z-index: 1000;
    text-align: center;
    width: 50px; /* Asegúrate de que el ancho sea automático */
}
.btn-wsp i {
    font-size: 24px;
}

.contact-container {
    background-color: white;
    margin-left: 0;
    padding: 30px;
   
}

.intro {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contacto {
    padding: 20px;
}

#contacto .container {
    max-width: 100%;
    margin: auto;
}

#contacto .row {
    display: flex;
    flex-wrap: wrap;
}

#contacto .col-xs-12,
#contacto .col-sm-6,
#contacto .col-md-6,
#contacto .col-lg-6 {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 10px;
}

#contacto form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centra el formulario horizontalmente */
}

#contacto input[type="text"],
#contacto textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contacto .enviar {
    width: 50%;
    padding: 10px;
    background-color: #042242;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto; /* Centra el botón */
}

#contacto .enviar:hover {
    background-color: #072b52;
}

.body_container {
    background: #FEFAF6;
    border-top: 4px solid black;
    margin: 5.5%;
    font-family: "Roboto";
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    #contacto .col-xs-12,
    #contacto .col-sm-6,
    #contacto .col-md-6,
    #contacto .col-lg-6 {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

form {
    margin: auto;
    background: rgba(255, 255, 255, 0.8) !important;
    max-width: 700px; /* Cambiado de 1050px a 800px */
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Aumentado para un sombreado más visible */
    border-radius: 5px;
    margin-left: 0;
}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    color: #102C57;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

input, textarea {
    font-size: 20px;
    color: #333;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #0333;
}

textarea {
    min-height: 140px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #102C57;
    border-radius: 4px;
    border: 2px solid #f2f2f2;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto";
    font-size: 16px;
    padding: 10px;
    width: 80%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.margen-campos {
    margin-top: 20px;
}

#messageBox {
    display: none;
}


#boton:hover {
    cursor: pointer;
    background: #303F9F;
}

@media (min-width: 576px) {
    #contacto .col-sm-6 {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    #contacto .col-md-6 {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    #contacto .col-lg-6 {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

/* Estilos para el footer */

.footer {
    background-color: white;
    color: rgb(2, 2, 83);
    padding: 20px 0; 
    width: 100%;
    margin-bottom: 100px;
}

.container-footer {
    background-color: rgba(255, 255, 255,0.95)!important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.linea-footer2 {
    border-top: 3px solid rgb(4, 2, 2); 
    width: 100%; 
    padding-top: 10px;
    font-weight: bold;
    color: rgb(2, 2, 83);
}

/* Media query para pantallas pequeñas */
@media (max-width: 576px) {
    .footer {
        padding: 50px 0; /* Ajusta el valor según sea necesario */
        text-align:justify !important;
    }
}

@media (max-width: 576px) {
    .logo-text-container {
      margin-bottom: 20px; /* Ajusta este valor según sea necesario */
    }
  }

